body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5em;
}

#content {
    padding: 1em 10% 1em 10%;
}

#skip-links {
    float: right;
    font-size: 10pt;
}

#skip-links a,
#skip-links a:visited,
#skip-links a:active,
#skip-links a:hover {
    color: #464;
}

header, footer {
    padding-right: 1em;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

header {
    margin-top: 1em;
    padding: 4px 1em 0 10%;
}

header h1 {
    margin: 0;
}

header h1 span {
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
}

#navigation {
    width: 500px;
    text-align: center;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
}

#navigation ul li a {
    margin: 0 4px 0 0;
    padding: 1px 4px 1px 4px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#navigation ul li a:active,
#navigation ul li a:visited {
    color: #000;
}

#navigation ul li a:hover,
#navigation ul li a.pure-menu-selected {
    color: #000;
    background-color: #ddd;
}

footer {
    text-align: right;
}

/* Internal stuff */
hr {
    border: 0;
    height: 1px;
    color: #aaa;
    background-color: #aaa;
}

a, a:hover, a:active {
    color: #242;
}

a:visited {
    color: #244;
}

.post {
    margin-bottom: 3em;
    border-bottom: 1px solid #ddd;
    position: relative;
}

#content img {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.post-content .post-image {
    max-width: 66%;
    margin: 0 auto;
}
