/* Layout */

body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: "Playfair Display", "Times New Roman", serif;
}

header,
article {
    max-width: 960px;
    margin: 0 auto;
}

header {
    position: relative;
    text-align: center;
    margin-top: 0.5em;
    border-top: 3px solid #333;
    border-bottom: 2px solid #ccc;
}

header h1 {
    margin: 0px;
    padding: 0.25em;
}

header h1 small {
    display: block;
    color: #666;
    font-style: italic;
    font-weight: lighter;
}

header .contact {
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

header .contact address:first-of-type {
    padding-bottom: 0.5em;
    position: relative;
}

header .contact address img {
    vertical-align: middle;
}

header .expand {
    width: 0px;
    height: 0px;
}

header nav {
    margin-bottom: 0.5em;
}

header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 1em;
}

a, a:hover, a:active {
    color: #242;
}

a:visited {
    color: #244;
}

dl dt {
    font-style: italic;
}

dl dd {
    margin-left: 1em;
    color: #666;
}

dl dd a {
    color: #575;
}

dl dd a:visited {
    color: #577;
}

/* Hide mobile functionality on wider screens */

header .contact .trigger,
header .contact input {
    display: none;
}

/* General bits and bobs */

.bullet:before {
    content: "◦";
}

.break:before {
    content: "/";
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 5px dashed #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.noit {
    font-style: normal;
    text-decoration: none;
    color: #333;
}

.clearfix:before {
    content: " ";
    clear: both;
    display: table;
}

.name {
    font-variant: small-caps;
    font-style: italic;
}

.switcher {
    overflow-x: hidden;
}

.switched {
    vertical-align: top;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 50%;
    transition: transform 300ms ease;
}

.switched-container {
    vertical-align: top;
    overflow-x: hidden;
    width: 200%;
    display: flex;
    flex-direction: row;
}

.switched:first-of-type {
    transform: translate(-100%, 0);
}
.switched.on:first-of-type {
    transform: translate(0, 0);
}

.switched:last-of-type {
    transform: translate(0, 0);
}
.switched.on:last-of-type {
    transform: translate(-100%, 0);
}

.switch-container {
    border: 2px solid #666;
    border-radius: 2px;
    margin: 0 auto;
    background-color: #666;
    padding: 1px;
    text-align: center;
    width: 25rem;
}

.switch, .switch:active, .switch:hover, .switch:visited {
    display: inline-block;
    background-color: #666;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 11.75rem;
}

.switch.on {
    background-color: #fff;
    color: #333;
    cursor: default;
}

@media only screen and (min-width: 960px) {
    header .contact {
        height: 20px;
        overflow: hidden;
        border-bottom: 1px dashed #ccc;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    header .expand {
        width: 100%;
        height: 10px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    header .expand:after {
        content: 'Expand';
        text-align: center;
        position: relative;
        top: -16px;
        font-size: 8px;
        height: 10px;
        margin: 0px;
        color: #333;
        overflow: hidden;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    header .contact address:first-of-type:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(transparent, rgba(255,255,255,0.8));
        pointer-events: none;
    }

    header .contact:hover,
    .preload header .contact {
        height: 50px;
        border-bottom-color: transparent;
    }

    header .contact:hover address:first-of-type:before,
    .preload header .contact address:first-of-type:before  {
        background: linear-gradient(transparent, transparent);
    }

    header .contact:hover + .expand,
    .preload header .contact + .expand {
        height: 0px;
    }

    header .contact:hover + .expand:after,
    .preload header .contact + .expand:after {
        color: #fff;
        height: 0px;
    }
}

@media (max-width: 960px) {
    header .contact {
        display: inline-block;
        margin: 1em auto 0 auto;
    }

    header .contact address .line {
        display: block;
    }

    header .contact address .bullet,
    header .contact address .break {
        display: none;
    }

    header .contact address {
        display: inline-block;
        float: left;
        padding-left: 0.5em;
        margin: 0px auto;
        text-align: left;
    }

    header .contact address:first-of-type {
        margin-bottom: 1em;
    }

    header,
    article {
        margin-top: 0px;
        padding: 1em;
    }
}

@media only print {
    header nav {
        display: none;
    }

    header .contact address {
        display: block;
        text-align: left;
    }

    header .contact address:last-of-type {
        text-align: right;
    }

    header .contact address a {
        text-decoration: none;
    }

    .switch-container {
        display: none;
    }
}
