/* Layout */

body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: "Playfair Display", "Times New Roman", serif;
}

header,
article {
    max-width: 960px;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 {
    margin: 0px;
    padding: 0.25em;
}

header h1 small {
    display: block;
    color: #666;
    font-style: italic;
    font-weight: lighter;
}

header nav {
    margin-bottom: 0.5em;
}

header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 0px 1em;
}

dl dt {
    font-style: italic;
}

dl dd {
    margin-left: 1em;
    color: #666;
}

a, a:hover, a:active {
    color: #242;
}

a:visited {
    color: #244;
}

/* Hide mobile functionality on wider screens */

header .contact .trigger,
header .contact input {
    display: none;
}

/* General bits and bobs */

.bullet:before {
    content: "◦";
}

.break:before {
    content: "/";
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 5px dashed #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

@media (max-width: 960px) {
    header .contact {
        margin-top: 1em;
        position: relative;
    }

    header .contact .trigger,
    header .contact input {
        display: block;
    }

    header .contact input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 16px;
        opacity: 0;
        cursor: pointer;
    }

    header .contact address .line {
        display: block;
    }

    header .contact address .bullet,
    header .contact address .break {
        display: none;
    }

    header .contact address {
        display: none;
    }

    header .contact input:checked + address {
        display: block;
        border-left: 0.25em solid #ccc;
        padding-left: 0.5em;
        margin: 0px auto;
        width: 10em;
        white-space: nowrap;
        overflow: visible;
        text-align: left;
    }

    header,
    article {
        padding: 1em;
    }
}

@media only print {
    header nav {
        display: none;
    }

    header .contact .trigger {
        display: none;
    }

    header .contact address {
        display: block;
        text-align: center;
    }
}
