<!DOCTYPE html>

<html>
    <head>
        <title>{{ page.title }} - Drab Makyo - Matthew Scott</title>
        <link href="http://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" media="screen" href="/css/base.css" />
    </head>
    <body>
        <article>
            <header>
                <div id="skip-links"><a href="#content">Skip to content</a></div>
                <h1><a href="/" title="Home" rel="home" id="logo"><img src="/assets/logo.png" alt="Home" /></a><span>Drab Makyo - Matthew Scott</span></h1>
                <div id="navigation">
                    <ul>
                        <li><a href="/sounds/">Sounds</a></li>
                        <li><a href="/sights/">Sights</a></li>
                        <li><a href="http://writing.drab-makyo.com">Words</a></li>
                        <li><a href="/projects/">Projects</a></li>
                    </ul>
                </div>
            </header>
            <section>
                <h2><a name="content">{{ page.title }}</a></h2>
