<!DOCTYPE html>

<html>
    <head>
        <title>{{ page.title }} - Drab Makyo - Madison Scott-Clary</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="http://fonts.googleapis.com/css?family=Ubuntu;Gentium+book+basic" rel="stylesheet" type="text/css" />
        <link type="text/css" rel="stylesheet" media="screen" href="/css/base.css" />
    </head>
    <body>
        <article>
            <header>
                <div id="skip-links"><a href="#content">Skip to content</a></div>
                <div class="content">
                    <h1><a href="/" title="Home" rel="home" id="logo"><img src="/assets/logo/drabmakyo-logo-2-white.svg" alt="Home" /></a><span>Drab Makyo - Madison Scott-Clary</span></h1>
                    <div id="navigation" class="pure-menu-horizontal">
                        <ul>
                            <li><a href="https://github.com/makyo">Code</a></li>
                            <li><a href="http://writing.drab-makyo.com">Words</a></li>
                            <li><a href="http://makyo.photography/">Sights</a></li>
                            <li><a href="http://sounds.drab-makyo.com">Sounds</a></li>
                            <li><a href="/makyo-creates">Support</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <section class="content" id="content">
                <h2><a name="content">{{ page.title }}</a></h2>
