---
layout: default
title: Visualization Projects

---

{% for post in site.categories.visualization limit:10 %}
    <section class="post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>Posted in {% for category in post.categories %}{% if category != "posts" %}<a href="/{{ category }}">{{ category }}</a>{% if forloop.last != true %},{% endif %} {% endif %}{% endfor %} on {{ post.date|date_to_string }}</p>
        <div class="post-content">
            <img src="{{ post.image }}" />
        </div>
    </section>
{% endfor %}

<br clear="all" />
