<!DOCTYPE html>

<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="/css/cv.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="preload" onload="window.setTimeout(document.body.classList.remove('preload'),1)">
        <header>
            <h1><small>Madison Jesse Scott-Clary</small> {{ page.title }}</h1>
            <div class="contact">
                <address class="virtual">
                    <span class="line"><a href="https://github.com/makyo"><img src="/assets/gh.png" alt="GitHub" /> makyo</a></span>
                    <span class="bullet">&#9702;</span>
                    <span class="line"><a href="https://launchpad.net/~makyo"><img src="/assets/lp.png" alt="Launchpad" /> ~makyo</a></span>
                    <span class="bullet">&#9702;</span>
                    <span class="line"><a href="https://twitter.com/git_clone_makyo"><img src="/assets/twitter.png" alt="Twitter" /> @git_clone_makyo</a></span>
                    <span class="bullet">&#9702;</span>
                    <span class="line"><a href="/"><span class="noit">&#x1f310;</span> Drab-Makyo.com</a></span>
                </address>
                <address class="physical">
                    <span class="line">Sultan, WA</span>
                    <span class="bullet">&#9702;</span>
                    <span class="line">303-818-5943</span>
                    <span class="bullet">&#9702;</span>
                    <span class="line">makyo@drab-makyo.com</span>
                </address>
            </div>
            <div class="expand"></div>
            <nav>
                <ul>
                    <li><a href="/resume">R&eacute;sum&eacute;</a></li>
                    <li><a href="/cv">Curriculum Vit&aelig;</a></li>
                </ul>
            </nav>
        </header>
        <article class="clearfix">
            {{ content }}
        </article>
        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//matomo.makyo.io/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '3']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->
    </body>
</html>
