<!DOCTYPE html>

<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic" rel="stylesheet" type="text/css" />
        <link href="/cv.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <h1><small>Madison Jesse Scott-Clary</small> {{ page.title }}</h1>
            <nav>
                <ul>
                    <li><a href="/resume">R&eacute;sum&eacute;</a></li>
                    <li><a href="/cv">Curriculum Vit&aelig;</a></li>
                </ul>
            </nav>
            <div class="contact">
                <span class="trigger">Contact information <span class="caret"></span></span>
                <input type="checkbox" />
                <address>
                    <span class="line">Madison Jesse Scott-Clary</span>
                    <span class="bullet"></span>
                    <span class="line">6216 Becker Ln.</span>
                    <span class="break"></span>
                    <span class="line">Loveland, CO 80538</span>
                    <span class="bullet"></span>
                    <span class="line">makyo@drab-makyo.com</span>
                    <span class="bullet"></span>
                    <span class="line">303-818-5943</span>
                </address>
            </div>
        </header>
        <article>
            {{ content }}
        </article>
    </body>
</html>
